* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  scroll-behavior: smooth;
}
body {
  min-height: 1000px;
}
p {
  font-weight: 300;
  color: #333333;
}
.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: left;
  align-items: center;
  background: url("./images/Family.jpg");
  background-size: cover;
}
.banner .content {
  max-width: 450px;
  text-align: center;
}
.banner .content span {
  font-size: 3em;
  color: #132743;
}
.banner .content p {
  font-size: 1em;
  color: #132743;
}
.btn {
  font-size: 1em;
  color: #fff;
  background: #db1d4b;
  display: inline-block;
  padding: 10px 30px;
  margin-top: 20px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.5s;
}
.btn:hover {
  letter-spacing: 6px;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}

header.sticky {
  background: #fff;
  padding: 10px 100px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

header .logo {
  color: #132743;
  font-weight: 700;
  font-size: 2em;
  text-decoration: none;
}
header.sticky .logo {
  color: #333333;
}
header .logo span {
  color: #db1d4b;
}
header .navigation {
  position: relative;
  display: flex;
}
header .navigation li {
  list-style: none;
  margin-left: 30px;
}

header .navigation li a {
  text-decoration: none;
  color: #132743;
  font-weight: 300;
}

header.sticky .navigation li a {
  color: #333333;
}

header .navigation li a:hover {
  color: #db1d4b;
}

@media (max-width: 991px) {
  header,
  header.sticky {
    padding: 10px 20px;
  }
  header .navigation {
    display: none;
  }
  header .navigation.active {
    width: 100%;
    height: calc(100% - 68px);
    position: fixed;
    top: 68px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
  }
  header .navigation li {
    margin-left: 0;
  }
  header .navigation li a {
    color: #333333;
    font-size: 1.6em;
  }
  .menuToggle {
    position: relative;
    width: 40px;
    height: 40px;
    background: url("./images/menu.png");

    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }
  .menuToggle.active {
    background: url("./images/cross.png");

    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
  }
  header.sticky .menuToggle {
    filter: invert(1);
  }
}

section {
  padding: 50px;
}
.row {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.row .col50 {
  position: relative;
  width: 48%;
}
.titleText {
  color: #111;
  font-size: 2em;
  font-weight: 300;
}
.titleText span {
  color: #db1d4b;
  font-size: 1.5em;
  font-weight: 700;
}
.row .col50 .imgBx {
  position: relative;
  width: 100%;
  min-height: 300px;
  /* height: 100%; */
}
.row .col50 .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.health .content {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  margin-top: 40px;
}
.health .content .box {
  width: 340px;
  margin: 20px;
  border: 15px solid #fff;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.08);
}
.health .content .box .imgBx {
  position: relative;
  width: 100%;
  height: 300px;
}
.health .content .box .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
